
{% include 'src/header.html' %}

<!-- <main id="viewport" class="container pa2"> -->
<main>




    <div id="masterWallet" >


        <wallet :all-coins="allCoins" :holding='totalHoldings'>
            <h3>Master Wallet A</h3>
            <chart class="bigchart"></chart>
            <coinbox></coinbox>
        </wallet>

 
        <div class="mv4 tc">
            <div class="">MarketCap: <strong>$${globalMarketCap}</strong></div>
            <div class="">24/hr Volume: <strong>${total24HrVolume}</strong></div>
            <div class="">Bitcoin Dominance: <strong>${bitcoinDominance}</strong></div>
        </div>


        <div class="flex flex-row flex-wrap justify-center">

            {# <wallet :all-coins="allCoins" :holding='{ "BTC": 0, "ETH":0}'>
                <h3>Watching</h3>
                <chart></chart>
                <coinbox></coinbox>
            </wallet> #}

            <wallet :all-coins="allCoins" :holding='{ "DGB":100000, "LTC":30, "BCH":2 }'>
                <h3>Currencies</h3>
                <chart></chart>
                <coinbox></coinbox>
            </wallet>

            <wallet :all-coins="allCoins" :holding='{ "PPT": 20, "VERI": 7 }'>
                <h3>Lending</h3>
                <chart></chart>
                <coinbox></coinbox>
            </wallet>


            <wallet :all-coins="allCoins" :holding='{ "EOS": 100, "ADA": 10000, "THETA":10000, "XLM":5000 }'>
                <h3>Platforms</h3>
                <chart></chart>
                <coinbox></coinbox>
            </wallet>
            
{# 
            <wallet :all-coins="allCoins" :holding='{ "LTC":50 }'>
                <h3>T1</h3>
                <chart></chart>
                <coinbox></coinbox>
            </wallet>

            <wallet :all-coins="allCoins" :holding='{ "LTC":30 }'>
                <h3>T2</h3>
                <chart></chart>
                <coinbox></coinbox>
            </wallet>

            <wallet :all-coins="allCoins" :holding='{ "LTC":20 }'>
                <h3>T2</h3>
                <chart></chart>
                <coinbox></coinbox>
            </wallet> 
#}

        </div>

 
    </div>

 















</main>





{% include 'src/footer.html' %}
