
{% include 'src/header.html' %}

<!-- <main id="viewport" class="container pa2"> -->
<main id="">



<!-- <div id="components-demo">
    <button-counter></button-counter>
</div>



<div id="app" class="outline">
    <h2>my wallet component</h2>
    <my-component></my-component>
</div> -->




    <div id="masterWallet" >


        <div class="mv4 tc">
            <div class="">MarketCap: <strong>$${globalMarketCap}</strong></div>
            <div class="">24/hr Volume: <strong>${total24HrVolume}</strong></div>
            <div class="">Bitcoin Dominance: <strong>${bitcoinDominance}</strong></div>
        </div>


        <div class="flex flex-row flex-wrap justify-center">

            <wallet :all-coins="allCoins" :holding='{ "BTC": 0.015, "LTC":1}'>
                <h3>Wallet 1</h3>

                <chart></chart>
                <coinbox></coinbox>

            </wallet>

            <wallet :all-coins="allCoins" :holding='{ "BTC": 0.02, "ETH": 0.2, "EOS": 10 }' >
                <h3>Wallet 2</h3>
                <chart></chart>
            </wallet>

            <wallet :all-coins="allCoins" :holding='{ "THETA": 500, "DGB": 3000 }'>
                <h3>Wallet 3</h3>
                <!-- <chart></chart> -->
                <chart></chart>

            </wallet>
            <wallet :all-coins="allCoins" :holding='{ "VERI": 1, "PPT": 1 }'>
                <h3>Wallet 4</h3>
                <!-- <chart></chart> -->
                <chart></chart>

            </wallet>

        </div>





        <wallet :all-coins="allCoins" :holding='totalHoldings'>
            <h3>Master Wallet</h3>
            <chart class="bigchart"></chart>
        </wallet>






    </div>








</main>







{% include 'src/footer.html' %}
