
{% include 'src/header.html' %}

<!-- <main id="viewport" class="container pa2"> -->
<main>




<div id="" class="wallet" data-holdings='{
                                            "LTC": 1
                                            ,"ETH": 1
                                            ,"PPT": 1
                                            ,"ADA": 1
                                            ,"OMG": 1
                                            ,"EOS": 1
                                            ,"VERI": 1
                                            ,"PLR": 1
                                            ,"RDD": 1
                                            ,"DENT": 1
                                            ,"DGB": 1
                                            ,"THETA": 1
                                        }'
                                    data-watchings='{
                                                    "BTC":1
                                                    }'>


<div class="mb4 tc">
    <div class="">MarketCap: <strong>$${globalMarketCap}</strong></div>
    <div class="">24/hr Volume: <strong>${total24HrVolume}</strong></div>
    <div class="">Bitcoin Dominance: <strong>${bitcoinDominance}</strong></div>
</div>



    <div class="chart_wrapper">
        <div class="centerTitle" v-on:click='descrete = !descrete'>
            <div class="" v-if="!descrete">
                <div class="tc pt3"><strong>$${myHoldingsTotalInUSD | formatUSD} USD</strong></div>
                <div class="tc pt3"><strong>${myHoldingsTotalInBTC} BTC</strong></div>
            </div>
            <div class="dot" v-else></div>
        </div>
        <div class="chart" style="width: 100%; height:300px;"></div>
        <!-- <div class="legend"></div> -->
    </div>


        <div class="myLegend flex flex-wrap justify-center">

            <div v-for="coin in myWallet" class="myLegend_coin">
                <div class="" v-if="!descrete" >${coin.holding }</div>
                <!-- <i class="cc " v-bind:class="coinClass(coin.symbol)"></i> -->
                <div class="fw7">${coin.symbol}</div>
                <div class="f7">${coin.name}</div>
                <div class="f7 dark-pink">${coin.price_usd}</div>
                <div class="" v-if="!descrete">$${coin.holding_value | formatUSD}</div>
                <div class="f7 mt2" v-bind:class="{ 'dark-red': coin.percent_change_1h<0, 'dark-green': coin.percent_change_1h>0 }" > ${coin.percent_change_1h }% </div>
                <div class="f7" v-bind:class="{ 'dark-red': coin.percent_change_24h<0, 'dark-green': coin.percent_change_24h>0 }" > ${coin.percent_change_24h }% </div>
                <div class="f7" v-bind:class="{ 'dark-red': coin.percent_change_7d<0, 'dark-green': coin.percent_change_7d>0 }" > ${coin.percent_change_7d }% </div>
            </div>

        </div>






</div>




















</main>







{% include 'src/footer.html' %}
