
{% include 'src/header.html' %}

<!-- <main id="viewport" class="container pa2"> -->
<main id="">


    <div id="masterWallet" >


 
        <div class="mv4 tc">
            <div class="">MarketCap: <strong>$${globalMarketCap}</strong></div>
            <div class="">24/hr Volume: <strong>${total24HrVolume}</strong></div>
            <div class="">Bitcoin Dominance: <strong>${bitcoinDominance}</strong></div>
        </div>

        <template>
            <cryptoicon symbol="btc" size="24" />
            <cryptoicon symbol="btc" size="24" color="blue" />
            <cryptoicon symbol="btc" size="24" color="#000" />
        </template>

        
        <wallet :holding='totalHoldings'>
            <h3>Master Wallet</h3>
            <chart class="bigchart"></chart>
            <totals></totals>
            <coinbox></coinbox>
        </wallet>

 
        <div class="flex flex-row flex-wrap justify-center">

            <wallet :holding='{ "BTC": 0.015, "LTC":1}'>
                <h3>Wallet 1</h3>
                <chart></chart>
                <totals></totals>
                <coinbox></coinbox>
            </wallet>

            <wallet :holding='{ "BTC": 0.02, "ETH": 0.2, "EOS": 10 }' >
                <h3>Wallet 2</h3>
                <chart></chart>
                <totals></totals>
                <coinbox></coinbox>
            </wallet>
            
            <wallet :holding='{ "THETA": 500, "DGB": 3000 }'>
                <h3>Wallet 3</h3>
                <chart></chart>
                <totals></totals>
                <coinbox></coinbox>
            </wallet> 
            
            <wallet :holding='{ "DGB":10000, "ETH": 1, "PPT": 50, "SUB":100000}'>
                <h3>Wallet 4</h3>
                <chart></chart>
                <totals></totals>
                <coinbox></coinbox>
            </wallet>

            <wallet :holding='{ "DGB": 60000, "PPT": 20 }'>
                <h3>:)</h3>
                <chart></chart>
                <totals></totals>
                <coinbox></coinbox>
            </wallet>

        </div>









    </div>








</main>







{% include 'src/footer.html' %}
