


@import "globals/vars.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

html{
    overflow-x: hidden;
}
body{
    padding-bottom:3em;
}
html,
body{
    // background-color:$colorBodyBg;
    font-family:monospace;
    width:100%;
}

// overflow-x: hidden;

nav#nav{
    position: fixed;
    top:0; left:0;
    padding:0.5em;
    background:white;
}

.vueBlock{
    border:1px solid gray;
    margin:0.5em;
    padding:0.5em;
}

.txt-highlight{
    color: $colorHighlight
}

// .is-active{
//     color:gold;
//     >a{
//         color:$colorHighlight;
//     }
// }

h1{
    font-size:1.5rem;
    font-weight:bold;
}
h2{
    font-size:1.2rem;
    font-weight:bold;
}
h3{
    font-weight:bold;
}
h4{
    font-size:1rem;
}
h5{
    font-size:0.9rem;
}
h6{
    font-size:0.7rem;
}


.bg-red, .bgRed{
    background-color:indianred;
}
.bg-blue, .bgBlue{
    background-color:steelblue;
}
.bg-green, .bgGreen{
    background-color:forestgreen;
}

.wallet{
    // border:1px dashed gold;
}

.chart_wrapper {
    position: relative;
    margin:0; padding:0;

    // .legend{
    //     >span{
    //         padding:0.5em;
    //         margin:0.1em;
    //         cursor:pointer;
    //     }
    // }

    .centerTitle{
        // border:1px solid red;
        position:absolute;
        top:50%; left:50%;
        // transform: translate(-53%, -48%);
        transform: translate(-50%, -50%);
        z-index:999;
        cursor:pointer;

        margin:0; padding:0;

        text-align: center;

    }

    .dot{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        background:rgba(lightblue, 0.1);
        // width:118px;
        // height:118px;
        width:50px;
        height:50px;
        border-radius:50%;
    }

}


.bb{
    border:0;
}

.bb-chart-arc path{
    stroke:transparent;
}


.myLegend{
    // width:100%;
    // padding:1em; margin:0;
    // display:flex;
    // justify-content: center;
    // flex-wrap:wrap;
    // border:1px solid red;
}

.myLegend_coin{
    // border:1px dotted green;
    padding:0.5em;
    width:100px;
    text-align: center;
    // flex:1 1 15%;
}







.walletBox{
    background-color:#e1e1e1;
    // border:1px solid #ababab;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    .chart{
        position: relative;
        display:block;
        // border:1px solid gold;
        height:150px;
        width:140px;
        margin:auto;
        &.bigchart{
            height:300px;
            width:280px;
            margin:auto;
            // border:1px solid green;
            // width:80%;
            // height:auto;
            // min-height:100px;
            // max-height:300px;
        }
    }
}







.coinBox{
    background-color:rgba(0,0,0,0.1);

}


